body {
    padding-top: 100px;
    width: 50%;
    margin: 0 auto;
    background-color: #150030;
    color: white;
    font-family: sans-serif;
    display: flex;
}

h3 {
    position: absolute;
    font-size: 2rem;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    }

.container{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 90%;
    height: 300px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: auto;
}

.output.row {
    margin-top: -40px;
    padding: 80px;
    font-size: 1.3rem;
    }

.output.row div {
    text-align: center;
    }

footer {
    position: absolute;
    text-align: center;
    font-size: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: 5px;
    line-height: 3vh;
    }

footer a:visited {
    color: inherit;
    }